body {
    background-color: #fff;
    padding: 50px;
    font-family: "Saira", sans-serif;
    line-height: 1.5;
    color: rgb(39, 35, 35);
    font-weight: 300;
    font-size: 13px;
  }
  
  h1,h2{
    margin: 0 0 20px;
    color: #333;
  }

  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 20px;
  }

  small {
    font-size: 12px;
  }
  .social-icon {
    color:darkslategrey;
    transition: color 0.2s;
    text-decoration: none;
    margin: 0 5px;
}

  .social-icon:hover {
    color: grey;
}
  
  section {
    width: 700px;
    margin: auto;
  }

  hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
  }
  
  
  /* additions */

  
  #title {
    float: left;
  }
  
  #socials {
    padding-top: 9px;
    float:right;
  }